* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: hsl(233, 47%, 7%);
	color: hsl(0, 0%, 100%);
}

.container {
	display: flex;
	padding: 200px;
}

.left-side {
	background-color: hsl(244, 38%, 16%);
}

.right-side {
	position: relative;
	background-size: cover;
}

.overlay {
	position: absolute;
	background: rgba(158, 85, 202, 0.7);
	width: 540px;
	height: 446px;
	top: 0;
	left: 0;
}
