* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: hsl(233, 47%, 7%);
	color: hsl(0, 0%, 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.container {
	display: flex;
	padding: 200px;
	border-radius: 10px;
}

/* Left Side */

.left-side {
	background-color: hsl(244, 38%, 16%);
	padding: 45px;
	width: 440px;
	height: 350px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

h1 {
	margin-bottom: 25px;
	width: 340px;
}

.left-side h1 span {
	color: rgba(172, 91, 222);
}

.details {
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 200;
	margin-bottom: 70px;
	width: 325px;
	font-size: 13px;
}

ul {
	list-style-type: none;
}

.container .left-side ul {
	display: flex;
	justify-content: space-evenly;
}

.container .left-side ul li span {
	font-size: 18px;
	color: hsl(0, 0%, 100%);
}

.container .left-side ul li {
	margin-right: 50px;
	color: hsla(0, 0%, 100%, 0.75);
	font-size: 11px;
	font-weight: 100;
}

/* Right Side */

.right-side {
	position: relative;
	background-size: cover;
	width: 440px;
	height: 350px;
}

img {
	width: 440px;
	height: 350px;
}

.overlay {
	position: absolute;
	background: rgba(172, 91, 222, 0.7);
	width: 440px;
	height: 350px;
	top: 0;
	left: 0;
}

@media screen and (max-width: 854px) {
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column-reverse;
	}

	.left-side {
		height: 570px;
	}

	.left-side > h1 {
		text-align: center;
		width: 335px;
	}

	.details {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 225px;
		margin: auto;
		font-size: 18px;
		margin-bottom: 50px;
	}

	.container .left-side ul span {
		display: block;
	}

	.container .left-side ul li {
		margin-bottom: 20px;
	}
}
